*.pt
*.safetensors
checkpoints/
out/model.safetensors
out_augmented/model.safetensors
hw4-code/part2-code/checkpoints
hw4-code/part1-code/out/model.safetensors
hw4-code/part1-code/out_augmented/model.safetensors
hw4-code/backup-part-1-part2*.db
backup-part-1-part2/
__pycache__/
*.pyc
hw4-code/part1-code/out/
hw4-code/part1-code/out_augmented/
hw4-code/part2-code/checkpoints/
hw4-code/part2-code/data/flight_database.db
hw4-code/backup-part-1-part2/
*.pt
*.safetensors
